.auth__link-login {
  display: block;
  max-width: 358px;
  text-align: center;
  margin-top: 15px;
  color: #FFFFFF;
  font-size: 14px;
  font-weight: 400;
  line-height: 17px;
  text-decoration: none;
}

.auth__link-login:hover {
  opacity: 0.6;
}