.profile__info {
  max-width: 336px;
  display: grid;
  grid-template-columns: auto auto;
  grid-template-rows: auto auto;
  row-gap: 10px; /** изменено от макета по PixelPerfect **/
  column-gap: 18px;
}

@media screen and (max-width: 650px) {
  .profile__info {
    max-width: 282px;
    column-gap: 10px;
    row-gap: 6px; /** изменено от макета по PixelPerfect **/
  }
}