.header__button-exit {
  font-size: 18px;
  font-weight: 400;
  line-height: 22px;
  text-align: right;
  color: #A9A9A9;
  cursor: pointer;
}

.header__button-exit:hover {
  opacity: 0.6;
}

@media screen and (max-width: 440px) {
  .header__button-exit {
    display: none;
  }
}