.header__container {
  display: flex;
  justify-content: space-between;
  padding: 45px 0 41px;
}

@media screen and (max-width: 920px) {
  .header__container {
    padding-left: 15px;
    padding-right: 15px;
  }
}

@media screen and (max-width: 440px) {
  .header__container {
    padding-top: 26px;
    padding-bottom: 0;
  }
}