.login__input {
  background-color: #000000;
  padding: 0 0 7px;
  border-width: 0 0 2px;
  color: #FFFFFF;
  border-color: #CCCCCC;
  margin-bottom: 30px;
}

.login__input::placeholder {
  color: #CCCCCC;
  font-size: 14px;
  font-weight: 400;
  line-height: 17px;
}

.login__input:last-of-type {
  margin-bottom: 0;
}