.header__user-mob {
  max-width: 310px;
  font-size: 18px;
  font-weight: 500;
  line-height: 22px;
  text-align: center;
  color: #FFFFFF;
  margin-bottom: 18px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}