.profile {
  max-width: 880px;
  margin: 0 auto;
  padding: 40px 0 50px;
  color: #FFFFFF;
  display: flex;
  flex-direction: row;
  align-items: center;  
}

@media screen and (max-width: 650px) {
  .profile {
    max-width: 282px;
    flex-direction: column;
    padding-top: 42px;
    padding-bottom: 36px;
  }
}