.popup__close {
  min-width: 32px;
  min-height: 32px;
  background-color: rgba(0, 0, 0, 0);
  background-image: url(../../../images/close-image.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  border: 0;
  padding: 0;
  position: absolute;
  top: -40px;
  right: -40px;
  cursor: pointer;
}

.popup__close:hover {
  opacity: 0.6;
}

@media screen and (max-width: 540px) {
  .popup__close {
    min-width: 20px;
    min-height: 20px;
    top: -35px;
    right: 0;
  }
}