.profile__add-button {
  min-width: 150px;
  min-height: 50px;
  border: 2px solid #FFFFFF;
  border-radius: 2px;
  background-color: #000000;
  background-image: url(../../../images/add-image.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: 22px 22px;
  margin-left: auto;
  cursor: pointer;
}

.profile__add-button:hover {
  opacity: 0.6;
}

@media screen and (max-width: 650px) {
  .profile__add-button {
    min-width: 282px;
    min-height: 50px;
    background-size: 16px 16px;
  }
}