.element__like-button {
  cursor: pointer;
  border: 0;
  background-color: #FFFFFF;
  min-width: 22px;
  min-height: 19px;
  background-image: url(../../../images/like-image.svg);
  background-position: center;
  background-repeat: no-repeat;
}

.element__like-button:hover {
  opacity: 0.5;
}